@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
}

@layer base {
  body {
    @apply bg-black text-white antialiased;
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
}